body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

header {
    text-align: center;
}

#about {
    background-color: #4b4b4b;
    padding: 15px;
    border-radius: 8px;
}

.contact-form {
    margin-top: 20px;
}

.profile-img {
    width: 150px;
    border-radius: 50%;
}

.btn-hover:hover {
    background-color: #5cb85c;
    color: white;
}
